<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1 class="title">Homepage</h1>
    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam esse cumque, mollitia sint ullam culpa tempora perspiciatis accusantium eius quibusdam ratione vel corrupti blanditiis iure, a modi optio beatae officiis.</p>
    <a href="/admin/create-post">Create Post</a>
</body>
</html>